<div id="tenant">
  <div style="background-color: cornsilk; border-radius: 5px; width: 123px; margin: 10px;">
    <span style="font-size: 20px; margin-left: 15px;">Chi nhánh:</span><br>
  </div>
  
  <!-- <input class="input-tenant" nz-input placeholder="Mã số thuế" [(ngModel)]="Tenant"/> -->
  <input class="input-tenant" type="text" placeholder="Mã số thuế" [(ngModel)]="Tenant">
  <input type="submit" value="Xác Nhận" class="submit-tenant" (click)="submitTenant()">
  <div style="margin: 5px auto; display: flex;">
    <div class="notifiDiv">
      <span *ngIf="NotifiTenant == 'Chi nhánh không hợp lệ!' || NotifiTenant == 'Chưa chọn chi nhánh!'" class="notifiTenant1">{{NotifiTenant}}</span>
      <span *ngIf="NotifiTenant == 'Thành công!'"  class="notifiTenant2">{{NotifiTenant}}</span>
    </div>
  </div>
</div>

<div>
  <div class="login">
    <div class="form">
      <div style="background-color: cornsilk; border-radius: 5px;">
        <div style="display: flex; justify-content: center;">
          <img src="../../assets/icon/logo-login-resize-removebg.png" alt="">
        </div>
        <h2>Hệ Thống Giải Pháp Hóa Đơn Điện Tử</h2>
        <span style="font-size: 0.1px;">.</span>
      </div>
      <input type="text" placeholder="Tài khoản" [(ngModel)]="Username">
      <input type="password" placeholder="Mật khẩu" [(ngModel)]="Password">
      <span style="color: red;">{{NotifiLogin}}</span>
      <input type="submit" value="Đăng Nhập" class="submit" (click)="submitLogin()">
    </div>
  </div>
</div>