<span style="font-size: 27px;">Thông tin tài khoản</span>
<br><br>
<form nz-form [formGroup]="submitForm">
  <div>
    <div style="border-top: 2px solid #66CCFF; border-bottom: 1px solid #DDDDDD;">
    </div>

    <div id="divform" style="margin-top: 40px;">
      <div class="form-group" nz-row>
        <nz-form-label nz-col nzSpan="4" nzFor="name" style="font-weight: bold;">Họ tên</nz-form-label>
        <nz-form-control nz-col nzSpan="20" nzErrorTip="Chưa nhập họ tên">
          <input nz-input type="text" formControlName="name">
        </nz-form-control>
      </div>

      <div class="form-group" nz-row>
        <nz-form-label nz-col nzSpan="4" nzFor="email" style="font-weight: bold;">Email</nz-form-label>
        <nz-form-control nz-col nzSpan="20" nzErrorTip="Email có dạng: abc@gmail.com">
          <input nz-input type="email" formControlName="email">
        </nz-form-control>
      </div>

      <div class="form-group" nz-row>
        <nz-form-label nz-col nzSpan="4" nzFor="phone" style="font-weight: bold;">Số điện thoại</nz-form-label>
        <nz-form-control nz-col nzSpan="20" nzErrorTip="Số điện thoại có dạng: 0912356789">
          <input nz-input type="number" formControlName="phone">
        </nz-form-control>
      </div>

      <div *ngIf="flagEditPass != '1'" class="form-group" nz-row>
        <nz-form-label nz-col nzSpan="4" nzFor="acc" style="font-weight: bold;">Tài khoản</nz-form-label>
        <nz-form-control nz-col nzSpan="20" nzErrorTip="Tài khoản phải > 6 kí tự">
          <input nz-input type="text" formControlName="acc">
        </nz-form-control>
      </div>
      
      <div *ngIf="flagEditPass == '1'" class="form-group" nz-row>
        <nz-form-label nz-col nzSpan="4" nzFor="acc" style="font-weight: bold;">Tài khoản</nz-form-label>
        <nz-form-control nz-col nzSpan="20" nzErrorTip="Tài khoản phải > 6 kí tự">
          <input readonly nz-input type="text" formControlName="acc">
        </nz-form-control>
      </div>

      <div *ngIf="flagEditPass != '1'" class="form-group" nz-row>
        <nz-form-label nz-col nzSpan="4" nzFor="pass" style="font-weight: bold;">Mật khẩu</nz-form-label>
        <nz-form-control nz-col nzSpan="20" nzErrorTip="Mật khẩu phải > 6 kí tự">
          <input nz-input type="password" formControlName="pass">
        </nz-form-control>
      </div>

      <div *ngIf="flagEditPass != '1'" class="form-group" nz-row>
        <nz-form-label nz-col nzSpan="4" nzFor="confirmpass" style="font-weight: bold;">Xác nhận mật khẩu</nz-form-label>
        <nz-form-control nz-col nzSpan="20" nzErrorTip="Mật khẩu phải > 6 kí tự">
          <input nz-input type="password" formControlName="confirmpass">
        </nz-form-control>
      </div>

    </div>
  </div>

</form>

<div class="form-group" nz-row>
  <nz-form-label nz-col nzSpan="4" style="font-weight: bold;">Quyền</nz-form-label>
  <div nz-col nzSpan="20" style="margin-top: 8px;">
    <div *ngFor="let item of data">
      <input type="checkbox" (change)="Onchange()" [(ngModel)]="item.checkPermission" name="{{item.roleName}}" value="">
      <label for="">&emsp;{{item.roleName}}</label>
    </div>
  </div>
</div>

<div style="position: relative; height: 50px; margin-top: 50px;">
  <button class="luu" nz-button nzType="primary" type="" (click)="onSubmit()">
    Lưu
  </button>
  <button class="back" nz-button nzType="primary" type="" (click)="back()">
    Trở về
  </button>
</div>