<span style="font-size: 27px;">Quản lý tài khoản</span>
<br><br>
<div style="position: relative;">
  <button #buttonThem nz-button nzType="primary" (click)="addAccount()">
    <i class="add" nz-icon nzType="plus" nzTheme="outline"></i>Thêm mới
  </button>

  <div style="width: 400px; position: absolute; right: 0%; top: 0%;">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input nz-input placeholder="input search text" (keyup)="onKey($event)" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>

  <div class="tableAccount" style="border-top: 2px solid #66CCFF; margin-top: 50px">
    <nz-table #tableList style="margin-top: 10px" #basicTable [nzData]="data" [nzPageIndex]="pageIndex"
      [nzPageSize]="pageSize" [nzTotal]="total">
      <thead>
        <tr>
          <th>Tài khoản</th>
          <th>Họ tên</th>
          <th>Email</th>
          <th>SĐT</th>
          <th style="width: 10%;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.acc}}</td>
          <td>{{data.name}}</td>
          <td>{{data.email}}</td>
          <td>{{data.phone}}</td>
          <td>
            <a><i style="color: red; margin-right: 10px; font-size: 20px;" nz-icon nzType="close" nzTheme="outline"
                title="Xóa tài khoản" (click)="removeAccount(data.id)"></i></a>
            &emsp;
            <a><i style="font-size: 20px;" nz-icon nzType="edit" nzTheme="outline" title="Sửa tài khoản"
                (click)="editAccount(data.id)"></i></a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>

</div>