<span style="font-size: 27px">01GTKT - Hóa đơn đầu vào</span> <br /><br />
<form nz-form [formGroup]="submitForm">
    <div style="border-top: 3px solid #66ccff">
        <div style="border-bottom: 1px solid #dddddd; height: 40px; margin-top: 10px">
            <span style="font-size: 18px; color: #333333"> Thông tin người mua </span>
        </div>

        <div style="margin-top: 10px; margin-left: 70px">
            <nz-form-item nz-row>
                <nz-form-label nz-col nzSpan="4" nzFor="taxCodeBuy" style="font-weight: bold">Mã số thuế</nz-form-label>
                <nz-form-control nz-col nzSpan="20">
                    <input readonly [(ngModel)]="taxCodeBuy" nz-input type="text" placeholder=""
                        formControlName="taxCodeBuy" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row>
                <nz-form-label nz-col nzSpan="4" nzFor="companyNameBuy" style="font-weight: bold">Tên công ty
                </nz-form-label>
                <nz-form-control nz-col nzSpan="20">
                    <input readonly [(ngModel)]="companyNameBuy" nz-input type="text" placeholder=""
                        formControlName="companyNameBuy" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item nz-row>
                <nz-form-label nz-col nzSpan="4" nzFor="addressBuy" style="font-weight: bold">Địa chỉ
                </nz-form-label>
                <nz-form-control nz-col nzSpan="20">
                    <input readonly [(ngModel)]="addressBuy" nz-input type="text" placeholder=""
                        formControlName="addressBuy" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>

    <div style="display: flex">
        <div style="border-top: 3px solid #66ccff; width: 30%">
            <div nz-row style="border-bottom: 1px solid #dddddd; height: 40px; margin-top: 10px">
                <span nz-col nzSpan="14" style="font-size: 18px; color: #333333"> Thông tin hóa đơn </span>
                <div nz-col nzSpan="10" style="width: 145px; right: 0%; top: 0%">
                    <nz-form-control nzErrorTip="Số HĐ 1->8 chữ số">
                        <input nz-input type="number" placeholder="Số hóa đơn" formControlName="invoiceNumber" />
                    </nz-form-control>
                </div>
            </div>

            <div style="margin-top: 10px; margin-left: 15px">
                <nz-form-item nz-row>
                    <!-- <nz-form-label nz-col nzSpan="9" nzFor="dateInvoice" style="font-weight: bold">Ngày hóa đơn
                    </nz-form-label> -->
                    <span nz-col nzSpan="9" style="font-weight: bold; margin-top: 5px;">Ngày hóa đơn:
                    </span>
                    <nz-form-control nz-col nzSpan="15" nzErrorTip="Chưa chọn ngày hóa đơn">
                        <!-- <input nz-input type="date" placeholder="-Chọn ngày-" formControlName="dateInvoice" /> -->
                        <nz-date-picker style="width: 100%;" [nzDisabledDate]="disabledDate" formControlName="dateInvoice"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
                <br>
                <div nz-row>
                    <!-- <nz-form-label nz-col nzSpan="12" nzFor="" style="font-weight: bold">Hình thức thanh toán</nz-form-label> -->
                    <span nz-col nzSpan="13" style="font-weight: bold; margin-top: 5px;">Hình thức thanh toán:</span>
                    <nz-select nz-col nzSpan="11" formControlName="payType" nzShowSearch nzAllowClear
                        nzPlaceHolder="- Chọn hình thức -" [(ngModel)]="selectedValue">
                        <nz-option *ngFor="let data of payTypes" nzLabel="{{ data }}" nzValue="{{ data }}">
                        </nz-option>
                    </nz-select>
                </div>
                <br><br>

                <div class="form-group" nz-row>
                    <nz-form-item nz-col nzSpan="12">
                        <div nz-row>
                            <span nz-col nzSpan="10" style="font-weight: bold; margin-top: 5px;">Mẫu số:
                            </span>
                            <nz-form-control nz-col nzSpan="14" nzErrorTip="Chưa nhập mẫu số">
                                <input nz-input type="text" formControlName="invoiceForm" />
                            </nz-form-control>
                        </div>
                    </nz-form-item>
                    <nz-form-item nz-col nzSpan="12">
                        <div nz-row>
                            <span nz-col nzSpan="12"
                                style="font-weight: bold; margin-top: 5px; text-align: right; margin-right: 7px;">Kí
                                hiệu:
                            </span>
                            <nz-form-control nz-col nzSpan="12" nzErrorTip="Chưa nhập kí hiệu">
                                <input nz-input type="text" formControlName="invoiceSign" />
                            </nz-form-control>
                        </div>
                    </nz-form-item>
                </div>

                <nz-form-item nz-row>
                    <!-- <nz-form-label nz-col nzSpan="5" nzFor="noteInvoice" style="font-weight: bold">Ghi chú
                    </nz-form-label> -->
                    <!-- <span nz-col nzSpan="5" style="font-weight: bold; margin-top: 5px;">Ghi chú:
                    </span> -->
                    <nz-form-control nz-col nzSpan="24" nzErrorTip="Chưa nhập ghi chú">
                        <input nz-input type="text" placeholder="Ghi chú" formControlName="noteInvoice" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div style="border-top: 3px solid #66ccff; width: 66%; margin-left: 4%">
            <div nz-row style="border-bottom: 1px solid #dddddd; height: 40px; margin-top: 10px">
                <span nz-col nzSpan="8" style="font-size: 18px; color: #333333"> Thông tin người bán </span>
                <div nz-col nzSpan="16" style="width: 400px;">
                    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                        <input nz-input placeholder="Nhập khách hàng để tìm kiếm" (keyup)="onKey($event)" />
                    </nz-input-group>
                    <ng-template #suffixIconButton>
                        <button nz-button nzType="default" nzSearch><i nz-icon nzType="search"></i></button>
                    </ng-template>
                </div>
            </div>

            <div style="margin-top: 10px; margin-left: 0px">
                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item nz-row>
                            <nz-form-label nz-col nzSpan="8" nzFor="customerId" style="font-weight: bold">Mã khách hàng
                            </nz-form-label>
                            <!-- <span nz-col nzSpan="10" style="font-weight: bold; margin-top: 5px;">Mã khách hàng:
                            </span> -->
                            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập mã khách hàng">
                                <input nz-input type="number" placeholder="" formControlName="customerIdSell" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="12">
                        <nz-form-item nz-row>
                            <!-- <nz-form-label nz-col nzSpan="9" nzFor="taxCode" style="font-weight: bold">&emsp;Mã số thuế
                            </nz-form-label> -->
                            <span nz-col nzSpan="9"
                                style="font-weight: bold; margin-top: 5px; text-align: right; margin-right: 10px;">Mã số
                                thuế:
                            </span>
                            <nz-form-control nz-col nzSpan="15" nzErrorTip="Chưa nhập mã số thuế">
                                <input nz-input type="text" placeholder="" formControlName="taxCodeSell" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <nz-form-item nz-row>
                    <nz-form-label nz-col nzSpan="4" nzFor="companyNameSell" style="font-weight: bold">Tên đơn vị
                    </nz-form-label>
                    <!-- <span nz-col nzSpan="3" style="font-weight: bold; margin-top: 5px;">Tên đơn
                        vị:
                    </span> -->
                    <nz-form-control nz-col nzSpan="20" nzErrorTip="Chưa nhập tên đơn vị">
                        <input nz-input type="text" placeholder="" formControlName="companyNameSell" />
                    </nz-form-control>
                </nz-form-item>

                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item nz-row>
                            <nz-form-label nz-col nzSpan="8" nzFor="nameSell" style="font-weight: bold">Người bán
                            </nz-form-label>
                            <!-- <span nz-col nzSpan="10" style="font-weight: bold; margin-top: 5px;">Người bán hàng:
                            </span> -->
                            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập tên người bán">
                                <input nz-input type="text" placeholder="" formControlName="nameSell" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="12">
                        <nz-form-item nz-row>
                            <!-- <nz-form-label [nzSpan]="0" nzFor="emailSell" style="font-weight: bold">Email</nz-form-label> -->
                            <span nz-col nzSpan="9"
                                style="font-weight: bold; margin-top: 5px; text-align: right; margin-right: 10px;">Email:</span>
                            <nz-form-control nz-col nzSpan="15" nzErrorTip="Email có dạng: abc@gmail.com">
                                <input nz-input type="email" placeholder="" formControlName="emailSell" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

                <nz-form-item nz-row>
                    <nz-form-label nz-col nzSpan="4" nzFor="addressSell" style="font-weight: bold">Địa chỉ
                    </nz-form-label>
                    <!-- <span nz-col nzSpan="4" style="font-weight: bold; margin-top: 5px;">Địa chỉ:
                    </span> -->
                    <nz-form-control nz-col nzSpan="20" nzErrorTip="Chưa nhập địa chỉ">
                        <input nz-input type="text" placeholder="" formControlName="addressSell" />
                    </nz-form-control>
                </nz-form-item>

                <div nz-row>
                    <div nz-col nzSpan="12">
                        <nz-form-item nz-row>
                            <nz-form-label nz-col nzSpan="8" nzFor="accountBankSell" style="font-weight: bold">Số tài
                                khoản
                            </nz-form-label>
                            <!-- <span nz-col nzSpan="10" style="font-weight: bold; margin-top: 5px;">Số tài khoản:
                        </span> -->
                            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập số tài khoản">
                                <input nz-input type="number" placeholder="" formControlName="accountBankSell" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>

                    <div nz-col nzSpan="12">
                        <nz-form-item nz-row>
                            <!-- <nz-form-label [nzSpan]="0" nzFor="nameBankSell" style="font-weight: bold">Tại ngân hàng
                        </nz-form-label> -->
                            <span nz-col nzSpan="9"
                                style="font-weight: bold; margin-top: 5px; text-align: right; margin-right: 10px;">Tại
                                ngân hàng:
                            </span>
                            <nz-form-control nz-col nzSpan="15" nzErrorTip="Chưa nhập tên ngân hàng">
                                <input nz-input type="text" placeholder="" formControlName="nameBankSell" />
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div style="border-top: 3px solid #66ccff">
        <div style="
        position: relative;
        border-bottom: 1px solid #dddddd;
        height: 40px;
        margin-top: 10px;
        display: flex;
    ">
            <div>
                <span style="font-size: 18px; color: #333333"> Chi tiết hóa đơn </span>
            </div>
            <div style="position: absolute; right: 20px; display: flex">
                <label style="font-weight: bold; margin-top: 5px" nz-checkbox [(ngModel)]="flagInvoiceDetail"
                    formControlName="flagInvoiceDetail">Hóa đơn chiếu khấu</label><br />

                <button *ngIf="flagInvoiceDetail === false" (click)="showModal()"
                    style="border: #4caf50; background-color: #4caf50" nz-button nzType="primary" nzShape="circle">
                    <i nz-icon nzType="plus"></i>
                </button>


                <nz-modal *ngIf="flagInvoiceDetail === false" [(nzVisible)]="isVisible" nzTitle="Chi tiết hóa đơn"
                    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                    <form nz-form [formGroup]="submitFormDetails">
                        <ng-container *nzModalContent>

                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="nameProduct" style="font-weight: bold;">Hàng hóa
                                    /
                                    dịch vụ</nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập tên hàng hóa">
                                    <input nz-input type="text" formControlName="nameProduct">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="productId" style="font-weight: bold;">Mã Hàng
                                    hóa /
                                    dịch vụ</nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập mã hàng hóa">
                                    <input nz-input type="number" formControlName="productId">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="content" style="font-weight: bold;">Nội dung
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập nội dung">
                                    <input nz-input type="text" formControlName="content">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="unit" style="font-weight: bold;">Đơn vị tính
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập đơn vị tính">
                                    <input nz-input type="text" formControlName="unit">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="quantity" style="font-weight: bold;">Số lượng
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập số lượng">
                                    <input nz-input type="number" formControlName="quantity"
                                        (keyup)="onKeyQuantity($event)">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="price" style="font-weight: bold;">Đơn giá
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập đơn giá">
                                    <input nz-input type="text" formControlName="price" (keyup)="onKey($event)">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="percentTaxSell" style="font-weight: bold;">Thuế
                                    suất
                                </nz-form-label>
                                <nz-select nz-col nzSpan="16" formControlName="percentTaxSell" nzShowSearch nzAllowClear
                                    nzPlaceHolder="-Chọn thuế suất-" [(ngModel)]="selectedValueTaxSell" required="true">
                                    <nz-option *ngFor="let taxsell of taxs" [nzLabel]="taxsell.lable"
                                        [nzValue]="taxsell.value">
                                    </nz-option>
                                </nz-select>
                            </div><br>
                            <div hidden class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="percentMoney" style="font-weight: bold;">Tiền
                                    thuế suất
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="">
                                    <input nz-input type="text" formControlName="percentMoney"
                                        [(ngModel)]="MoneyTaxSell">
                                </nz-form-control>
                            </div>
                            <div hidden class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="percentDiscountBeforeTax"
                                    style="font-weight: bold;">Chiết khấu trước thuế
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="">
                                    <input nz-input type="text" formControlName="percentDiscountBeforeTax"
                                        [(ngModel)]="percentDiscount">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="intoMoney" style="font-weight: bold;">Thành tiền
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="">
                                    <input readonly nz-input type="text" formControlName="intoMoney"
                                        [(ngModel)]="intoMoneyAffer">
                                </nz-form-control>
                            </div>

                        </ng-container>
                    </form>
                </nz-modal>


                <!-- chiết khấu -->
                <button *ngIf="flagInvoiceDetail === true" (click)="showModal()"
                    style="border: #4caf50; background-color: #4caf50" nz-button nzType="primary" nzShape="circle">
                    <i nz-icon nzType="plus"></i>
                </button>
                <nz-modal *ngIf="flagInvoiceDetail === true" [(nzVisible)]="isVisible" nzTitle="Chi tiết hóa đơn"
                    (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                    <form nz-form [formGroup]="submitFormDetails">
                        <ng-container *nzModalContent>

                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="nameProduct" style="font-weight: bold;">Hàng hóa
                                    /
                                    dịch vụ</nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập tên hàng hóa">
                                    <input nz-input type="text" formControlName="nameProduct">
                                </nz-form-control>
                            </div><br>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="productId" style="font-weight: bold;">Mã Hàng
                                    hóa /
                                    dịch vụ</nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập mã hàng hóa">
                                    <input nz-input type="number" formControlName="productId">
                                </nz-form-control>
                            </div><br>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="content" style="font-weight: bold;">Nội dung
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập nội dung">
                                    <input nz-input type="text" formControlName="content">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="unit" style="font-weight: bold;">Đơn vị tính
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập đơn vị tính">
                                    <input nz-input type="text" formControlName="unit">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="quantity" style="font-weight: bold;">Số lượng
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập số lượng">
                                    <input nz-input type="number" formControlName="quantity"
                                        (keyup)="onKeyQuantity($event)">
                                </nz-form-control>
                            </div>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="price" style="font-weight: bold;">Đơn giá
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập đơn giá">
                                    <input nz-input type="text" formControlName="price" (keyup)="onKey($event)">
                                </nz-form-control>
                            </div>
                            <!-- <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="percentTaxSell" style="font-weight: bold;">Thuế
                                    suất
                                </nz-form-label>
                                <nz-select nz-col nzSpan="16" formControlName="percentTaxSell" nzShowSearch nzAllowClear
                                    nzPlaceHolder="-Chọn thuế suất-" [(ngModel)]="selectedValueTaxSell"
                                    >
                                    <nz-option *ngFor="let taxsell of taxs" nzLabel="{{taxsell.lable}}"
                                        nzValue="{{taxsell.value}}">
                                    </nz-option>
                                </nz-select>
                            </div><br> -->
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="percentTaxSell" style="font-weight: bold;">Thuế
                                    suất
                                </nz-form-label>
                                <nz-select nz-col nzSpan="16" formControlName="percentTaxSell" nzShowSearch nzAllowClear
                                    nzPlaceHolder="-Chọn thuế suất-" [(ngModel)]="selectedValueTaxSell">
                                    <nz-option *ngFor="let taxsell of taxs" [nzLabel]="taxsell.lable"
                                        [nzValue]="taxsell.value">
                                    </nz-option>
                                </nz-select>
                            </div><br>
                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="percentDiscountBeforeTax"
                                    style="font-weight: bold;">Phần trăm chiết khấu
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="">
                                    <input nz-input type="text" formControlName="percentDiscountBeforeTax"
                                        [(ngModel)]="percentDiscount" (keyup)="onKeyDiscount($event)">
                                </nz-form-control>
                            </div>

                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="percentMoney" style="font-weight: bold;">Tiền
                                    chiết khấu
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="">
                                    <input nz-input type="text" formControlName="percentMoney"
                                        [(ngModel)]="MoneyTaxSell">
                                </nz-form-control>
                            </div>

                            <div class="form-group" nz-row>
                                <nz-form-label nz-col nzSpan="8" nzFor="intoMoney" style="font-weight: bold;">Thành tiền
                                </nz-form-label>
                                <nz-form-control nz-col nzSpan="16" nzErrorTip="">
                                    <input readonly nz-input type="text" formControlName="intoMoney"
                                        [(ngModel)]="intoMoneyAffer">
                                </nz-form-control>
                            </div>

                        </ng-container>
                    </form>
                </nz-modal>

            </div>
        </div>

        <div *ngIf="flagInvoiceDetail === false" class="tableInvoiceDetail" style="margin-top: 20px;">
            <nz-table #tableList #basicTable [nzData]="InvoiceDetails" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
                [nzTotal]="total">
                <!-- (nzPageIndexChange)="pageIndexChange($event)" -->
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên hàng hóa, dịch vụ</th>
                        <th>Nội dung</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thuế suất (%)</th>
                        <th>Thành tiền</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data; let i = index">
                        <td>
                            {{ i + 1 }}
                        </td>
                        <td>{{ data.nameProduct }}</td>
                        <td>{{ data.content }}</td>
                        <td>{{ data.unit }}</td>
                        <td>{{ data.quantity }}</td>
                        <td>{{ data.price | number}}</td>
                        <td *ngIf="data.percentTaxSell == 10">Thuế suất 10%</td>
                        <td *ngIf="data.percentTaxSell == 5">Thuế suất 5%</td>
                        <td *ngIf="data.percentTaxSell == 0">Thuế suất 0%</td>
                        <td *ngIf="data.percentTaxSell == -1">Không chịu thuế</td>
                        <td *ngIf="data.percentTaxSell == -2">Không kê khai</td>
                        <td>{{ data.intoMoney | number}}</td>

                        <td>
                            <a><i style="color: red; margin-right: 10px; font-size: 20px" nz-icon nzType="close"
                                    nzTheme="outline" title="Xóa" (click)="removeInvoiceDetail(data.id)"></i></a>
                            &emsp;
                            <a><i style="font-size: 20px" nz-icon nzType="edit" nzTheme="outline" title="Sửa"
                                    (click)="editInvoiceDetail(data.id)"></i></a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <div style="font-size: 16px; font-weight: bold; display: flex;">
                <div style="width: 500px">
                    <span>Tổng tiền hàng </span><br /><br />
                    <span *ngFor="let i of InvoiceTaxBreaks">
                        {{i.nameTaxSell}}<br>
                    </span><br />
                    <span>Tổng tiền thuế </span><br /><br />
                    <span>Tổng tiền thanh toán </span>
                </div>
                <div>
                    <span>{{totalProduct | number}}</span><br /><br />
                    <!-- <span *ngFor="let i of InvoiceTaxBreaks">
                        {{i.moneyTaxSell}}<br>
                    </span><br> -->
                    <span *ngFor="let i of InvoiceTaxBreaks">
                        <input class="inputTax" value="{{i.moneyTaxSell}}"
                            (keyup)="onKeyTaxSell($event, i.percentTaxSell)" /><br />
                    </span><br />
                    <span>{{totalTax | number}}</span><br /><br />
                    <span>{{totalPay | number}}</span>
                </div>
            </div>
        </div>

        <div *ngIf="flagInvoiceDetail === true" class="tableInvoiceDetail" style="margin-top: 20px; position: relative">
            <nz-table #tableList #basicTable [nzData]="InvoiceDetails" [nzPageIndex]="pageIndex" [nzPageSize]="pageSize"
                [nzTotal]="total">
                <!-- (nzPageIndexChange)="pageIndexChange($event)" -->
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Tên hàng hóa, dịch vụ</th>
                        <th>Nội dung</th>
                        <th>Đơn vị tính</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thuế suất (%)</th>
                        <th>% Chiết khấu</th>
                        <th>Tiền chiết khấu</th>
                        <th>Thành tiền</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data; let i = index">
                        <td>
                            {{ i + 1 }}
                        </td>
                        <td>{{ data.nameProduct }}</td>
                        <td>{{ data.content }}</td>
                        <td>{{ data.unit }}</td>
                        <td>{{ data.quantity }}</td>
                        <td>{{ data.price | number}}</td>
                        <td *ngIf="data.percentTaxSell == 10">Thuế suất 10%</td>
                        <td *ngIf="data.percentTaxSell == 5">Thuế suất 5%</td>
                        <td *ngIf="data.percentTaxSell == 0">Thuế suất 0%</td>
                        <td *ngIf="data.percentTaxSell == -1">Không chịu thuế</td>
                        <td *ngIf="data.percentTaxSell == -2">Không kê khai</td>
                        <td>{{ data.percentDiscountBeforeTax }}</td>
                        <td>{{ data.percentMoney | number}}</td>
                        <td>{{ data.intoMoney | number}}</td>

                        <td>
                            <a><i style="color: red; margin-right: 10px; font-size: 20px" nz-icon nzType="close"
                                    nzTheme="outline" title="Xóa" (click)="removeInvoiceDetail(data.id)"></i></a>
                            &emsp;
                            <a><i style="font-size: 20px" nz-icon nzType="edit" nzTheme="outline" title="Sửa"
                                    (click)="editInvoiceDetail(data.id)"></i></a>
                        </td>
                    </tr>
                </tbody>
            </nz-table>

            <div style="font-size: 16px; font-weight: bold; display: flex;">
                <div style="width: 500px">
                    <span>Tổng tiền chiết khấu trước thuế</span><br /><br />
                    <span>Tổng tiền hàng </span><br /><br />
                    <span *ngFor="let i of InvoiceTaxBreaks">
                        {{i.nameTaxSell}}<br>
                    </span><br />
                    <span>Tổng tiền thuế </span><br /><br />
                    <span>Tổng tiền chiết khấu sau thuế</span><br /><br />
                    <span>Tổng tiền thanh toán </span>
                </div>
                <div>
                    <span>{{intoMoneyBeforeTax | number}}</span><br /><br />
                    <span>{{totalProduct | number}}</span><br /><br />
                    <span *ngFor="let i of InvoiceTaxBreaks">
                        <input class="inputTax" value="{{i.moneyTaxSell}}"
                            (keyup)="onKeyTaxSell($event, i.percentTaxSell)" /><br />
                    </span><br />
                    <span>{{totalTax | number}}</span><br /><br />
                    <!-- <span><input class="inputTax" value="{{PercentDiscountAfterTax}}" (keyup)="onKeyPercentDiscountAfterTax($event)" />%&emsp;</span>
                    <span>&emsp;=<input class="inputTax" value="{{TotalDiscountAfterTax}}" (keyup)="onKeyTotalDiscountAfterTax($event)"/></span>
                    <br/><br/> -->
                    <span><input class="inputTax" [(ngModel)]="PercentDiscountAfterTax"
                            formControlName="PercentDiscountAfterTax"
                            (keyup)="onKeyPercentDiscountAfterTax($event)" />%&emsp;</span>
                    <span>&emsp;=<input class="inputTax" [(ngModel)]="TotalDiscountAfterTax"
                            formControlName="TotalDiscountAfterTax"
                            (keyup)="onKeyTotalDiscountAfterTax($event)" /></span>
                    <br /><br />
                    <span>{{totalPay | number}}</span>
                </div>
            </div>

        </div>
    </div>
</form>

<div style="position: relative; height: 50px; margin-top: 50px;">
    <button class="luu" nz-button nzType="primary" (click)="onSubmit()">Lưu</button>
    <button class="back" nz-button nzType="primary" (click)="back()">Trở về</button>
</div>