<span style="font-size: 27px;">Thông tin khách hàng</span>
<br><br>
<form nz-form [formGroup]="submitForm">
  <div>
    <div style="border-top: 2px solid #66CCFF; border-bottom: 1px solid #DDDDDD;">
    </div>

    <div id="divform" style="margin-top: 30px;">

      <div class="form-group" nz-row>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="customerId" style="font-weight: bold;">Mã khách hàng</nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập mã khách hàng">
              <input nz-input type="text" placeholder="Nhập mã khách hàng" formControlName="customerId">
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="taxCode" style="font-weight: bold;">Mã số thuế</nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập mã số thuế">
              <input nz-input type="text" placeholder="Nhập mã số thuế" formControlName="taxCode">
            </nz-form-control>
          </div>
        </div>
      </div>

      <div nz-row>
        <nz-form-label nz-col nzSpan="4" nzFor="fullName" style="font-weight: bold;">Tên công ty</nz-form-label>
        <nz-form-control nz-col nzSpan="20" nzErrorTip="Chưa nhập tên công ty">
          <input nz-input type="text" placeholder="Nhập tên công ty" formControlName="fullName">
        </nz-form-control>
      </div><br>

      <div nz-row>
        <nz-form-label nz-col nzSpan="4" nzFor="address" style="font-weight: bold;">Địa chỉ công ty</nz-form-label>
        <nz-form-control nz-col nzSpan="20" nzErrorTip="Chưa nhập địa chỉ">
          <input nz-input type="text" placeholder="Nhập địa chỉ công ty" formControlName="address">
        </nz-form-control>
      </div><br>

      <div class="form-group" nz-row>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="" style="font-weight: bold;">Tỉnh/Thành phố</nz-form-label>
            <nz-select nz-col nzSpan="16" formControlName="city" nzShowSearch nzAllowClear
              nzPlaceHolder="Chọn tỉnh/thành phố" [(ngModel)]="selectedValue">
              <nz-option *ngFor="let city of Citys" nzLabel="{{city}}" nzValue="{{city}}">
              </nz-option>
            </nz-select>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="" style="font-weight: bold;">Quận/Huyện</nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập quận/huyện">
              <input nz-input type="text" placeholder="Nhập quận/huyện" formControlName="district">
            </nz-form-control>
          </div>
        </div>
      </div>

      <div class="form-group" nz-row>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="legalName" style="font-weight: bold;">Đại diện pháp nhân
            </nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập đại diện pháp nhân">
              <input nz-input type="text" placeholder="Nhập đại diện pháp nhân" formControlName="legalName">
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="bankAcount" style="font-weight: bold;">Số tài khoản</nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập số tài khoản">
              <input nz-input type="number" placeholder="Nhập số tài khoản" formControlName="bankAcount">
            </nz-form-control>
          </div>
        </div>
      </div>

      <div class="form-group" nz-row>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="bankName" style="font-weight: bold;">Tên ngân hàng</nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập tên ngân hàng">
              <input nz-input type="text" placeholder="Nhập tên ngân hàng" formControlName="bankName">
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="email" style="font-weight: bold;">Email</nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Email có dạng: abc@gmail.com">
              <input nz-input type="email" placeholder="Nhập email" formControlName="email">
            </nz-form-control>
          </div>
        </div>
      </div>

      <div class="form-group" nz-row>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="phone" style="font-weight: bold;">Số điện thoại</nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập số điện thoại">
              <input nz-input type="number" placeholder="Nhập số điện thoại" formControlName="phone">
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-row>
            <nz-form-label nz-col nzSpan="8" nzFor="soFax" style="font-weight: bold;">Số Fax</nz-form-label>
            <nz-form-control nz-col nzSpan="16" nzErrorTip="Chưa nhập số Fax">
              <input nz-input type="text" placeholder="Nhập số Fax" formControlName="soFax">
            </nz-form-control>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>

<div style="position: relative; height: 50px; margin-top: 50px;">
  <button class="luu" nz-button nzType="primary" (click)="onSubmit()">
    Lưu
  </button>
  <button class="back" nz-button nzType="primary" (click)="back()">
    Trở về
  </button>
</div>